//hero//

.phone-icon{
    fill: #fff;
    width: 15px;
    height: 15px;
}

.leaf-icon{
    fill:#C6F7FF;
    width: 39px;
    height: 37px;
}

.truck-icon{
    fill:#C6F7FF;
    width: 40px;
    height: 32px;
}

.measure-icon{
    fill:#C6F7FF;
    width: 41px;
    height: 41px;
}

//benefits-section//

.happy-icon{
    fill: #292929;
    width: 68px;
    height: 69px;
}

.smiley-icon{
    fill:#292929;
    width: 64px;
    height: 64px;
}

.muscle-icon{
    fill:#292929;
    width: 68px;
    height: 68px;
}
 
//footer --- phone-green//

.phone-icon--green{
    fill: #497870;
    width: 15px;
    height: 15px;
}

//footer --- social//

.vk-icon,
.fb-icon,
.in-icon,
.tv-icon{
    fill: #B3B3B3;
    width:20; 
    height:20;
}

.vk-icon:hover,
.fb-icon:hover,
.in-icon:hover,
.tv-icon:hover{
    fill: #000;
}

.structure-icon{
    width: 48px;
    height: 48px;
    margin-top: -3px;
    fill: #fff;
}

.arrow-icon{
    width: 15px;
    height: 29px;
    fill:none;
    stroke:black; 
    stroke-width: 2; 
    stroke-linecap:round;
}

.triangle__icon{
    fill:#365A49;
    width: 9px;
    height: 7px;
    margin-left: 5px;
}

//structure__block-names//
.str-icon{
    width:32px;
    height: 32px;
}


