$containerWidth: 72.416%;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$blue: #61C4D9;
$darkGreen: #365A49;

//media
@import "media.scss";

//z-indexes

$z-fixed-menu: 90;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet');
@import "layout.scss";

//components
//hero//
@import "components/hero.scss";
@import "components/header.scss";
@import "components/menu.scss";
@import "components/phone-number.scss";
@import "components/features.scss";
@import "components/feature.scss";
//benefits-section//
@import "components/headline.scss";
@import "components/benefits.scss";
@import "components/benefit.scss";
@import "components/benefits-section.scss";
//bars-section//
@import "components/bars-section.scss";
@import "components/parameters-slider.scss";
//team-section//
@import "components/team-section.scss";
//reviews-section//
@import "components/reviews.scss";
@import "components/interactive-avatar.scss";
@import "components/reviews-section.scss";
//order-section//
@import "components/order-section.scss";
@import "components/form.scss";
@import "components/radio.scss";
//map-section & footer//
@import "components/map-section.scss";
@import "components/footer.scss";
//fixed-menu//
@import "components/fixed__menu.scss";
//burger-menu//
@import "burger-menu.scss";


//general_style//
@import "components/btn.scss";
@import "components/section.scss";

@import "icons-svg.scss";
