@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet');
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

.table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: flex;
  max-width: 100%;
}

.hero {
  background: url("../img/decorations/big-leaf.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 650px;
  color: #FFFFFF;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -41px;
  left: 2%;
  content: url("../img/decorations/small-life.png");
}
.hero:after {
  content: url("../img/choco-decor.png");
  position: absolute;
  bottom: -40px;
  right: 126px;
}

.hero__title-section {
  width: 30%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px 0;
  background: url("") right center/50% no-repeat;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 32px;
  margin-right: 15%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 15px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  width: 13px;
  height: 13px;
}
.phone-number__icon:before {
  content: url("../img/icons/phone.svg");
  position: relative;
  bottom: 75%;
  right: 60%;
}

.menu__link {
  text-decoration: none;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 46px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 41px;
  margin-right: 11px;
}

.feature__text {
  font-size: 16px;
  max-width: 114px;
}

.btn {
  font-size: 16px;
  font-weight: 800;
  padding: 21px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #ffffff;
  color: #365A49;
}
.btn--theme--white:hover {
  color: #ffffff;
  background: #365A49;
}
.btn--theme--green {
  background: #365A49;
  color: #fff;
}
.btn--theme--green:hover {
  color: #365A49;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #365A49;
}

.section {
  height: 100vh;
  min-height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #365A49;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline {
  text-align: center;
  margin-bottom: 50px;
}

.headline__title {
  margin-bottom: 20px;
}

.headline__subtitle {
  padding: 0 30%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/decorations/separator.png");
  position: absolute;
  top: 50px;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 70px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
  background: url("../img/decorations/side-leaf.png") left top 57% no-repeat;
}
.benefits-section:before {
  content: url("../img/decorations/bar-and-raspb.png");
  position: absolute;
  bottom: -100px;
  left: 0;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px 42px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: url("");
  display: block;
  width: 83px;
  height: 83px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -58px;
}

.reviews__display-inner {
  display: flex;
}
.reviews__display-inner:after {
  content: url("../img/decorations/leaf-with-strawberries.png");
  position: absolute;
  right: 0;
  top: 2%;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 36px;
}

.reviews__title {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 18px;
  color: #000;
}

.reviews__text {
  margin-bottom: 25px;
  margin-right: 280px;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.reviews__switcher-item {
  margin-left: 6px;
}

.interactive-avatar {
  width: 75px;
  height: 75px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #365A49;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  background: url("../img/decorations/raspb-1.png") right top 12% no-repeat;
  position: relative;
}
.reviews-section:before {
  content: url("../img/decorations/side-leaf2.png");
  position: absolute;
  top: 88%;
}

.reviews-raspb:after {
  content: url("../img/decorations/raspb-2.png");
  position: absolute;
  bottom: -23%;
}

.order-section {
  background: url("../img/pattern1.jpg");
  margin-top: 6%;
}

.decoration__berry {
  position: absolute;
  bottom: -3%;
  left: -7.5%;
}

.decoration__leaf {
  position: absolute;
  bottom: -4%;
  right: -17%;
}

.decoration__blackberry {
  position: absolute;
  top: -48%;
  right: -19%;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 27px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border: solid 3px transparent;
  border-radius: 5px;
}
.form__input--textarea {
  height: 170px;
  resize: none;
}
.form__input:focus {
  border-color: #d8dbbf;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__btns {
  margin-top: 46px;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin: 18px 5px 5px;
}
.radio--checkbox .radio__visible {
  border-radius: 5px;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/tick.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 28%;
  right: 4%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 12px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}