@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet');
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 72.416%;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

.table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: flex;
  max-width: 100%;
}

.hero {
  background: url("../img/decorations/big-leaf.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 40.625rem;
  color: #FFFFFF;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    height: 1000px;
    background-position: right bottom 78%;
  }
}

.hero__deco-1 {
  max-width: 100%;
  position: absolute;
  bottom: -2.563rem;
  left: 2%;
}
@media screen and (max-width: 768px) {
  .hero__deco-1 {
    display: none;
  }
}

.hero__deco-2 {
  max-width: 100%;
  position: absolute;
  bottom: -2.5rem;
  right: 7.875rem;
}
@media screen and (max-width: 768px) {
  .hero__deco-2 {
    display: none;
  }
}

.hero__title-section {
  width: 36%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("../img/chocco-deco-2.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px 0;
  background: url("") right center/50% no-repeat;
}

.hero__main-title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.063rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    font-size: 2.3rem;
  }
}

.hero__title-desc {
  font-size: 1.313rem;
  margin-bottom: 2rem;
  margin-right: 0.2rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 1%;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    margin: 0 -15%;
  }
}

.logo {
  width: 52.6px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  margin-right: 0.2777777778rem;
}

.phone-number__text {
  white-space: nowrap;
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  margin-right: 0.6111111111rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 6.3333333333rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: 800;
  padding: 1.2222222222rem 2.3333333333rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn__theme--white {
  background: #ffffff;
  color: #365A49;
}
.btn__theme--white:hover {
  color: #ffffff;
  background: #365A49;
}
.btn__theme--green {
  background: #365A49;
  color: #fff;
}
.btn__theme--green:hover {
  color: #365A49;
  background: #fff;
}
.btn__theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn__theme--transparent:hover {
  color: #365A49;
}

.section {
  height: 100vh;
  min-height: 36.2222222222rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #365A49;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-top: 0.5555555556rem;
  margin-bottom: 1.5555555556rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline {
  text-align: center;
  margin-bottom: 3.8888888889rem;
}

.headline__title {
  margin-bottom: 1.1111111111rem;
}

.headline__subtitle {
  padding: 0 30%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    margin: 0 -30px;
    padding: 0;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
    margin-left: -50px;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/decorations/separator.png");
  position: absolute;
  top: 2.7777777778rem;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.1111111111rem;
  }
  .benefits__item:before {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
  .benefit__text {
    padding-left: 15px;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
  background: url("../img/decorations/side-leaf.png") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left bottom 95%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    height: 906px;
    background: none;
  }
}
.benefits-section:before {
  content: url("../img/decorations/bar-and-raspb.png");
  position: absolute;
  max-width: 100%;
  bottom: -5.5555555556rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem 2.3333333333rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    margin: 0 -58px;
  }
}
.reviews__display:before {
  content: url("");
  display: block;
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.2222222222rem;
}

.reviews__display-inner {
  display: flex;
}
.reviews__display-inner:before {
  content: url("../img/decorations/leaf-with-strawberries.png");
  position: absolute;
  right: 0%;
  top: 2%;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display-inner:before {
    right: -5%;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin: 0 2%;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin: 5% 2% 0 2%;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000;
}

.reviews__text {
  margin-bottom: 2%;
  margin-right: 47%;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin: 2% -5% 2% -5%;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 1.3888888889rem;
}
.reviews__switcher-item {
  margin-left: 0.3333333333rem;
}

.interactive-avatar {
  width: 4.1666666667rem;
  height: 4.1666666667rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #365A49;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  background: url("../img/decorations/raspb-1.png") right top 12% no-repeat;
  position: relative;
  height: 976px;
}
.reviews-section:before {
  content: url("../img/decorations/side-leaf2.png");
  position: absolute;
  bottom: -25%;
}
@media screen and (max-width: 480px) {
  .reviews-section:before {
    content: url("../img/decorations/side-leaf2.2.png");
    bottom: -15%;
  }
}

.reviews-raspb:after {
  content: url("../img/decorations/raspb-2.png");
  position: absolute;
  bottom: -17%;
}
@media screen and (max-width: 768px) {
  .reviews-raspb:after {
    bottom: -17%;
  }
}
@media screen and (max-width: 480px) {
  .reviews-raspb:after {
    content: url("../img/decorations/raspb-2.2.png");
    bottom: -12%;
  }
}

.order-section {
  background: url("../img/pattern1.jpg");
  height: 852px;
  margin-top: 6%;
}
@media screen and (max-width: 768px) {
  .order-section {
    height: 760px;
  }
}

.decoration__berry {
  position: absolute;
  bottom: 22%;
  left: 7.5%;
}
@media screen and (max-width: 768px) {
  .decoration__berry {
    display: none;
  }
}

.decoration__leaf {
  position: absolute;
  bottom: 22%;
  right: 4%;
}
@media screen and (max-width: 768px) {
  .decoration__leaf {
    display: none;
  }
}

.decoration__blackberry {
  position: absolute;
  bottom: 35%;
  right: 0;
}
@media screen and (max-width: 768px) {
  .decoration__blackberry {
    content: url("../img/decorations/blc-2.png");
    width: 109, 14px;
    height: 147px;
    bottom: 33%;
  }
}
@media screen and (max-width: 480px) {
  .decoration__blackberry {
    bottom: 31%;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 8%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
    margin: 0 -17%;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
  .form__col:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.7777777778rem;
}

.form__block {
  flex: 1;
  margin-right: 0.8333333333rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2777777778rem;
}
.form__input--textarea {
  height: 9.4444444444rem;
  resize: none;
}
.form__input:focus {
  border-color: #d8dbbf;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.2222222222rem 0.6666666667rem;
  }
  .form__input--textarea {
    height: 4.4444444444rem;
    margin-bottom: -2%;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__btns {
  margin-top: 8%;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
    margin-left: 11%;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin: 0.8333333333rem 0.2777777778rem 0.2777777778rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2777777778rem;
}
.radio--checkbox .radio__visible:before {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.45.552A1.636 1.636 0 007.064.46L3.67 3.862l-.734-.736c-.642-.643-1.743-.643-2.386 0H.46c-.642.644-.642 1.747 0 2.391L2.477 7.54c.367.368.826.46 1.193.46.458 0 .825-.184 1.192-.46L9.45 2.942c.642-.643.642-1.747 0-2.39z' fill='%23497870'/%3e%3c/svg%3e") center center no-repeat;
  width: 12px;
  height: 10px;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 28%;
  right: 4%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.6666666667rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  background: url("../img/map.jpg") no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 872px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #ffffff;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -2%;
  margin-bottom: -2%;
}
@media screen and (max-width: 480px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}

.contacts {
  margin: 3% -3%;
  color: black;
  font-weight: 400;
  font-size: 1.1111111111rem;
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__phone {
  color: #365A49;
}

.contacts__icon {
  margin: 5px 5px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .social {
    margin-right: 0;
    margin-top: 0;
  }
}

.social__icon-image {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  margin-left: 14px;
}

.phone-icon {
  fill: #fff;
  width: 15px;
  height: 15px;
}

.leaf-icon {
  fill: #C6F7FF;
  width: 39px;
  height: 37px;
}

.truck-icon {
  fill: #C6F7FF;
  width: 40px;
  height: 32px;
}

.measure-icon {
  fill: #C6F7FF;
  width: 41px;
  height: 41px;
}

.happy-icon {
  fill: #292929;
  width: 68px;
  height: 69px;
}

.smiley-icon {
  fill: #292929;
  width: 64px;
  height: 64px;
}

.muscle-icon {
  fill: #292929;
  width: 68px;
  height: 68px;
}

.phone-icon--green {
  fill: #497870;
  width: 15px;
  height: 15px;
}

.vk-icon,
.fb-icon,
.in-icon,
.tv-icon {
  fill: #B3B3B3;
  width: 20;
  height: 20;
}

.vk-icon:hover,
.fb-icon:hover,
.in-icon:hover,
.tv-icon:hover {
  fill: #000;
}