@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet');
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 72.416%;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

.table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: flex;
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

button, select {
  text-transform: none;
}

.hero {
  background: url("../img/decorations/big-leaf.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 40.625rem;
  color: #FFFFFF;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    height: 1000px;
    background-position: right bottom 78%;
  }
}

.hero__deco-1 {
  max-width: 100%;
  position: absolute;
  bottom: -2.563rem;
  left: 2%;
}
@media screen and (max-width: 768px) {
  .hero__deco-1 {
    display: none;
  }
}

.hero__deco-2 {
  max-width: 100%;
  position: absolute;
  bottom: -2.5rem;
  right: 7.875rem;
}
@media screen and (max-width: 768px) {
  .hero__deco-2 {
    display: none;
  }
}

.hero__title-section {
  width: 36%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("../img/chocco-deco-2.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px 0;
  background: url("") right center/50% no-repeat;
}

.hero__main-title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.063rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    font-size: 2.3rem;
  }
}

.hero__title-desc {
  font-size: 1.313rem;
  margin-bottom: 2rem;
  margin-right: 0.2rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 1%;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    margin: 0 -15%;
  }
}

.logo {
  width: 52.6px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  margin-right: 0.2777777778rem;
}

.phone-number__text {
  white-space: nowrap;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  margin-right: 0.6111111111rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 6.3333333333rem;
}

.headline {
  text-align: center;
  margin-bottom: 3.8888888889rem;
}

.headline__title {
  margin-bottom: 1.1111111111rem;
}

.headline__subtitle {
  padding: 0 30%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    margin: 0 -30px;
    padding: 0;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
    margin-left: -50px;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/decorations/separator.png");
  position: absolute;
  top: 2.7777777778rem;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.1111111111rem;
  }
  .benefits__item:before {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
  .benefit__text {
    padding-left: 15px;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
  background: url("../img/decorations/side-leaf.png") left top 57% no-repeat;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
    margin: 5%;
  }
}
.benefits-section:before {
  content: url("../img/decorations/bar-and-raspb.png");
  position: absolute;
  max-width: 100%;
  bottom: -5.5555555556rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.bars-section {
  background: #F8FAF9;
}

.bars__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.slider__btn {
  position: absolute;
  top: 42%;
  transform: translateY(50%);
  width: 1.875rem;
  z-index: 20;
  margin: 0 -10%;
}
@media screen and (max-width: 768px) {
  .slider__btn {
    top: 25%;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .slider__btn {
    margin: -1.9444444444rem;
  }
}

.slider__btn--next {
  right: -1.25rem;
}
@media screen and (max-width: 480px) {
  .slider__btn--next {
    right: -10px;
  }
}

.slider {
  overflow: hidden;
}
.slider .bx-wrapper {
  border: 0;
  background: transparent;
  box-shadow: none;
  width: 103%;
}

.slider__list {
  display: flex;
  align-items: center;
  position: relative;
}

.slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .slider__item {
    flex-direction: column;
  }
}

.slider__left, .slider__right {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .slider__left, .slider__right {
    width: 100%;
  }
}

.slider__left {
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider__right {
  margin-left: 5%;
  padding-right: 8%;
}
@media screen and (max-width: 768px) {
  .slider__right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.structure {
  position: relative;
  background: #86C3D7;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  border-radius: 0.2222222222rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .structure {
    display: none;
  }
}

.structure__title {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin: 0 18px;
}

.slider__title {
  padding: 0;
  line-height: 3rem;
  margin-bottom: 2.8125rem;
}

.section-title--black {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .section-title--black {
    text-align: center;
  }
}

.slider__desc {
  line-height: 1.5rem;
  margin-bottom: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .slider__desc {
    text-align: center;
  }
}

.slider__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .slider__row {
    justify-content: center;
  }
}

.slider__parameters {
  width: 100%;
  display: -webkit-inline-box;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .slider__parameters {
    display: flex;
    justify-content: center;
  }
}

.parameters {
  margin-right: 13%;
}

.slider__price {
  margin-right: 10%;
  font-size: 3.3333333333rem;
  font-weight: 300;
  color: #000;
}

.structure__block-elem {
  width: 200px;
}

.structure__block {
  position: absolute;
  width: 273px;
  height: 344px;
  margin: -112px 92px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.structure__block-second {
  height: 370px;
}

/*.structure:hover~.structure__block{
    opacity: 1;
}*/
.strcture-name {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.structure__block-names {
  padding: 20px;
}

.structure-text {
  margin-left: -6px;
}

.structure-number {
  margin-right: 20px;
}

.team-section {
  height: 17.5rem;
  margin-top: -13.8888888889rem;
}
@media screen and (max-width: 768px) {
  .team-section {
    margin-top: -45%;
    margin-bottom: 30%;
  }
}
@media screen and (max-width: 480px) {
  .team-section {
    margin-top: -40%;
    margin-bottom: -35%;
  }
}

.team-section .container {
  height: 13.8888888889rem;
}
@media screen and (max-width: 768px) {
  .team-section .container {
    height: 0;
  }
}
@media screen and (max-width: 480px) {
  .team-section .container {
    height: 23.8888888889rem;
  }
}

.team {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
  }
}

.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}

@media screen and (max-width: 768px) {
  .team--version--desctop {
    display: none;
  }
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
  }
}

.team__item {
  flex: 1;
  text-align: center;
  margin-right: 20px;
  max-width: 14.4rem;
  position: relative;
}
@media screen and (max-width: 480px) {
  .team__item {
    margin-right: 0;
  }
}

.team__member {
  height: 288px;
  margin-bottom: 5%;
  margin-left: 5%;
}
@media screen and (max-width: 480px) {
  .team__member {
    display: flex;
    justify-content: center;
    height: 162px;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 480px) {
  .team__member-pic {
    width: 7.6666666667rem;
    height: 10rem;
  }
}

.team__title {
  color: #292929;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
}

.team__content {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
}

.team__content-profession {
  color: #000;
  margin: 3px 0;
}
@media screen and (max-width: 768px) {
  .team__content-profession {
    margin: -2px 0;
  }
}

.products-menu-section {
  background: url("../img/horizon-menu/horizontal-menu.jpg");
  position: relative;
  color: #fff;
}

.section.products-menu-section {
  display: -webkit-box;
  min-height: 615px;
}
@media screen and (max-width: 768px) {
  .section.products-menu-section {
    height: 89vh;
  }
}

.section__title.products-menu-section__title {
  color: #fff;
  margin: 10% 5%;
}
@media screen and (max-width: 480px) {
  .section__title.products-menu-section__title {
    margin: 10% -12%;
  }
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.products-menu__item {
  display: flex;
  background-size: cover;
}

.products-menu__title {
  width: 98px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

p.products-menu__text {
  transform: rotate(-90deg);
  font-size: 48px;
  white-space: nowrap;
  position: absolute;
  font-weight: bold;
}

.products-menu__text.text-title-1 {
  margin-left: -9.7222222222rem;
  margin-top: 4.4444444444rem;
}

.products-menu__text.text-title-2 {
  margin-left: -8.6111111111rem;
  margin-top: 5rem;
}

.products-menu__text.text-title-3 {
  margin-left: -4.7222222222rem;
  margin-top: 8.8888888889rem;
}

.products-menu__image {
  height: 100%;
}

.products-menu__content {
  background: rgba(47, 50, 52, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
}

.products-menu__container {
  padding-right: 30px;
  padding-top: 30px;
  padding-left: 30px;
}

.products-menu__close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
}

.products-decoration {
  width: 104px;
  height: 114px;
  margin-top: -56px;
  position: relative;
  right: -48px;
}
@media screen and (max-width: 768px) {
  .products-decoration {
    width: 89px;
    height: 98px;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem 2.3333333333rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    margin: 0 -58px;
  }
}
.reviews__display:before {
  content: url("");
  display: block;
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.2222222222rem;
}

.reviews__list {
  position: relative;
  min-height: 280px;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display-inner {
  display: flex;
}
.reviews__display-inner:after {
  content: url("../img/decorations/leaf-with-strawberries.png");
  position: absolute;
  right: -5%;
  top: -5%;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner:after {
    right: -7%;
    top: -5%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display-inner:after {
    right: -18%;
    top: -8%;
  }
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display-inner:before {
    right: -5%;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin: 0 2%;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin: 5% 2% 0 2%;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000;
}

.reviews__text {
  margin-bottom: 2%;
  margin-right: 47%;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin: 2% -5% 2% -5%;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 1.3888888889rem;
}

.interactive-avatar {
  width: 4.1666666667rem;
  height: 4.1666666667rem;
  margin-left: 0.3333333333rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.interactive-avatar:hover {
  border-color: #365A49;
}
.interactive-avatar--active {
  border-color: #365A49;
}

.interactive-avatar__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  background: url("../img/decorations/raspb-1.png") right top 12% no-repeat;
  position: relative;
  height: 976px;
}
.reviews-section:before {
  content: url("../img/decorations/side-leaf2.png");
  position: absolute;
  bottom: -25%;
}
@media screen and (max-width: 480px) {
  .reviews-section:before {
    content: url("../img/decorations/side-leaf2.2.png");
    bottom: -15%;
  }
}

.reviews-raspb:after {
  content: url("../img/decorations/raspb-2.png");
  position: absolute;
  bottom: -17%;
}
@media screen and (max-width: 768px) {
  .reviews-raspb:after {
    bottom: -17%;
  }
}
@media screen and (max-width: 480px) {
  .reviews-raspb:after {
    content: url("../img/decorations/raspb-2.2.png");
    bottom: -12%;
  }
}

.video__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -13%;
}

.video__title {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  color: #000;
}

.video__player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__player-img {
  position: absolute;
  width: 75, 6px;
  height: 109, 67px;
}
.video__player-img--active {
  opacity: 0;
}

#player {
  min-width: 36.6666666667rem;
  max-width: 36.6666666667rem;
  min-height: 21.6666666667rem;
  max-height: 21.6666666667rem;
}
@media screen and (max-width: 768px) {
  #player {
    min-width: 87.5%;
    max-width: 87.5%;
    min-height: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 480px) {
  #player {
    min-width: 90%;
    max-width: 90%;
    min-height: 100%;
    max-height: 100%;
  }
}

.video__toolbar {
  background: url("../img/control-panel.png");
  position: absolute;
  width: 660px;
  height: 34.89px;
  margin-bottom: -400px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .video__toolbar {
    margin-bottom: -53%;
    width: 87.5%;
  }
}
@media screen and (max-width: 480px) {
  .video__toolbar {
    margin-bottom: -57%;
    width: 90%;
  }
}

.duration {
  display: flex;
}

.duration__img {
  width: 10, 92px;
  height: 15, 95px;
  margin: 10px;
  margin-left: -30px;
}
@media screen and (max-width: 480px) {
  .duration__img {
    margin-left: 6px;
  }
}

.duration__length {
  width: 400px;
}
.duration__length--other {
  width: 60px;
}
@media screen and (max-width: 480px) {
  .duration__length {
    width: 205px;
  }
  .duration__length--other {
    width: 50px;
  }
}

.sound {
  margin-top: 5px;
}
@media screen and (max-width: 480px) {
  .sound {
    margin-top: 7px;
  }
}

.order-section {
  background: url("../img/pattern1.jpg");
  height: 852px;
  margin-top: 6%;
}
@media screen and (max-width: 768px) {
  .order-section {
    height: 760px;
  }
}

.order-decorations-1 {
  display: flex;
  justify-content: flex-end;
}

.order-decorations-2 {
  display: flex;
  justify-content: space-between;
}

.decoration__berry {
  width: 60px;
  height: 60px;
  margin: 50px 90px 0px 90px;
}
@media screen and (max-width: 768px) {
  .decoration__berry {
    display: none;
  }
}

.decoration__leaf {
  margin: -80px 75px -5px;
}
@media screen and (max-width: 768px) {
  .decoration__leaf {
    display: none;
  }
}

.decoration__blackberry {
  position: relative;
  width: 196px;
  height: 264px;
  margin-top: -188px;
}
@media screen and (max-width: 768px) {
  .decoration__blackberry {
    width: 109.14px;
    height: 147px;
    content: url("../img/decorations/blc-2.png");
    margin-top: -159px;
  }
}
@media screen and (max-width: 480px) {
  .decoration__blackberry {
    margin-top: -159px;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 8%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
    margin: 0 -17%;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
  .form__col:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.7777777778rem;
}

.form__block {
  flex: 1;
  margin-right: 0.8333333333rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2777777778rem;
}
.form__input--textarea {
  height: 9.4444444444rem;
  resize: none;
}
.form__input:focus {
  border-color: #d8dbbf;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.2222222222rem 0.6666666667rem;
  }
  .form__input--textarea {
    height: 4.4444444444rem;
    margin-bottom: -2%;
  }
}

.form__input.input-error {
  border: 1px solid #f80606;
}

.input-error {
  border: 1px solid #f80606;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__btns {
  margin-top: 8%;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
    margin-left: 11%;
    margin-bottom: 8%;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin: 0.8333333333rem 0.2777777778rem 0.2777777778rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2777777778rem;
}
.radio--checkbox .radio__visible:before {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.45.552A1.636 1.636 0 007.064.46L3.67 3.862l-.734-.736c-.642-.643-1.743-.643-2.386 0H.46c-.642.644-.642 1.747 0 2.391L2.477 7.54c.367.368.826.46 1.193.46.458 0 .825-.184 1.192-.46L9.45 2.942c.642-.643.642-1.747 0-2.39z' fill='%23497870'/%3e%3c/svg%3e") center center no-repeat;
  width: 12px;
  height: 10px;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  position: relative;
  width: 100%;
  height: 48.4444444444rem;
}
@media screen and (max-width: 768px) {
  .map {
    margin-top: -26%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #ffffff;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -2%;
  margin-bottom: -2%;
}
@media screen and (max-width: 480px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}

.contacts {
  margin: 3% -3%;
  color: black;
  font-weight: 400;
  font-size: 1.1111111111rem;
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__phone {
  color: #365A49;
}

.contacts__icon {
  margin: 5px 5px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .social {
    margin-right: 0;
    margin-top: 0;
  }
}

.social__icon-image {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  margin-left: 14px;
}

.fixed-menu {
  position: fixed;
  top: 28%;
  right: 4%;
  z-index: 90;
}

.fixed-menu__item {
  margin-bottom: 0.6666666667rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button_container {
  position: absolute;
  top: 3%;
  right: -11%;
  height: 27px;
  width: 25px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
  display: none;
}
@media screen and (max-width: 768px) {
  .button_container {
    display: flex;
  }
}

.button_container.button_container--active {
  opacity: 0.7;
}

.button_container.button_container--active .button_container--top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  border-radius: 5px;
}

.button_container.button_container--active .button_container--middle {
  opacity: 0;
}

.button_container.button_container--active .button_container--bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  border-radius: 5px;
}

.button_container .button_container__item {
  background: #fff;
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  border-radius: 5.5555555556rem;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container .button_container__item:nth-of-type(2) {
  top: 11px;
}

.button_container .button_container__item:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  z-index: 95;
  background: #2e3133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.overlay--open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}

.overlay.overlay--open .overlay-menu__item {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay-menu {
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}

.overlay-menu__list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-family: "Alegreya Sans";
}
@media screen and (max-width: 768px) {
  .overlay-menu__list {
    display: flex;
    flex-direction: column;
    margin: 20% auto;
  }
}
@media screen and (max-width: 480px) {
  .overlay-menu__list {
    margin: 10% auto;
  }
}

.overlay-menu__item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 1;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .overlay-menu__item {
    line-height: 4;
  }
}
@media screen and (max-width: 480px) {
  .overlay-menu__item {
    line-height: 3;
  }
}

.overlay-menu__item:last-child:after {
  display: none;
}

.overlay-menu__link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.body-active-menu {
  overflow: hidden;
}

.btn-close {
  color: #fff;
  font-size: 24px;
  font-family: Helvetica;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: 800;
  padding: 1.2222222222rem 2.3333333333rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn__theme--white {
  background: #ffffff;
  color: #365A49;
}
.btn__theme--white:hover {
  color: #ffffff;
  background: #365A49;
}
.btn__theme--green {
  background: #365A49;
  color: #fff;
}
.btn__theme--green:hover {
  color: #365A49;
  background: #fff;
}
.btn__theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn__theme--transparent:hover {
  color: #365A49;
}

.section {
  height: 100vh;
  min-height: 815px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #365A49;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-top: 0.5555555556rem;
  margin-bottom: 1.5555555556rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
@media screen and (max-width: 768px) {
  .modal {
    padding: 0;
  }
}

.fancybox__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 17.1666666667rem;
  height: 9.7777777778rem;
  background: #fff;
}

.modal__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 13.8888888889rem;
}

.modal__text {
  margin-bottom: 1.3888888889rem;
  text-align: center;
}

.phone-icon {
  fill: #fff;
  width: 15px;
  height: 15px;
}

.leaf-icon {
  fill: #C6F7FF;
  width: 39px;
  height: 37px;
}

.truck-icon {
  fill: #C6F7FF;
  width: 40px;
  height: 32px;
}

.measure-icon {
  fill: #C6F7FF;
  width: 41px;
  height: 41px;
}

.happy-icon {
  fill: #292929;
  width: 68px;
  height: 69px;
}

.smiley-icon {
  fill: #292929;
  width: 64px;
  height: 64px;
}

.muscle-icon {
  fill: #292929;
  width: 68px;
  height: 68px;
}

.phone-icon--green {
  fill: #497870;
  width: 15px;
  height: 15px;
}

.vk-icon,
.fb-icon,
.in-icon,
.tv-icon {
  fill: #B3B3B3;
  width: 20;
  height: 20;
}

.vk-icon:hover,
.fb-icon:hover,
.in-icon:hover,
.tv-icon:hover {
  fill: #000;
}

.structure-icon {
  width: 48px;
  height: 48px;
  margin-top: -3px;
  fill: #fff;
}

.arrow-icon {
  width: 15px;
  height: 29px;
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
}

.triangle__icon {
  fill: #365A49;
  width: 9px;
  height: 7px;
  margin-left: 5px;
}

.str-icon {
  width: 32px;
  height: 32px;
}