.btn{
    font-size: rem(16px);
    font-weight: 800;
    padding: rem(22px) rem(42px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;

    &__theme--white{
        background: #ffffff;
        color: $darkGreen;

        &:hover{
            color: #ffffff;
            background: $darkGreen;
        }
    }

    &__theme--green{
        background: $darkGreen;
        color: #fff;

        &:hover{
            color: $darkGreen;
            background: #fff;
        }
    }

    &__theme--transparent{
        background: transparent;
        color: #000;
        text-transform: none;

        &:hover{
            color: $darkGreen;
        }
    }
}