.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(23px) 0;
    background: #ffffff;
}



.footer__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -2%;
    margin-bottom: -2%;

    @include phones{
        display:flex;
        flex-direction: column;
    }
}

.contacts{
    margin: 3% -3%;
    color: black;
    font-weight: 400;
    font-size: rem(20px);
    font-style: normal;

    @include phones{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacts__phone{
    color: $darkGreen;
}

.contacts__icon{
    background: url("../img/icons/phone-green.svg") no-repeat;
    margin: 5px 5px;
}

.social{
    display: flex;
    align-items: center;
    justify-content: flex-end; 

    @include tablets{
        margin-right: 0;
        margin-top: 0;
    }
}

.social__icon-image{
    width: rem(25px);
    height: rem(25px);
    margin-left: 14px;
}



