.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    @include tablets{
        margin:0 -15%;
    }
    
}
.logo{
    width: 52.6px;
    height: 38px;
}
.phone-number.header__phone-number{
    @include tablets{
        display: none;
    }
}

