.hero{
    background: url("../img/decorations/big-leaf.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color:  #FFFFFF;
    position: relative;

    &:before{
        position: absolute;
        bottom: -41px;
        left: 2%;
        content: url("../img/decorations/small-life.png");
    }

    &:after{
        content: 
        url("../img/choco-decor.png");
        position: absolute;
        bottom: -40px;
        right: 126px;
        ;
    }
}

.hero__title-section{
    width: 30%;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 50px 0;
    background: url("") right center / 50% no-repeat ;
}

.hero__main-title{
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.hero__title-desc{
    font-size: 21px;
    margin-bottom: 32px;
    margin-right: 15%;
}