.order-section{
    background: url("../img/pattern1.jpg");
    margin-top: 6%;
}


//decoration elements//

.decoration__berry{
    position: absolute;
    bottom: -3%;
    left: -7.5%;
}

.decoration__leaf{
    position: absolute;
    bottom: -4%;
    right: -17%;
}

.decoration__blackberry{
    position: absolute;
    top: -48%;
    right: -19%;
}