.order-section{
    background: url("../img/pattern1.jpg");
    height: 852px;
    margin-top: -2%;

    @include tablets{
        height: 760px;
    }
}
.order-decorations-1{
    display: flex;
    justify-content: flex-end;
}

.order-decorations-2{
    display: flex;
    justify-content: space-between;
}

.decoration__berry{
    width: 60px;
    height: 60px;
    margin: 50px 90px 0px 90px;
    @include tablets{
        display: none;
    }
}

.decoration__leaf{
    margin: -80px 75px -5px;
    @include tablets{
        display: none;
    }
}

.decoration__blackberry{
    position: relative;
    width: 196px;
    height: 264px;
    margin-top: -188px;

    @include tablets{
        width: 109.14px;
        height: 147px;
        content: url("../img/decorations/blc-2.png");
        margin-top: -159px;
    }
    @include phones{
        margin-top: -159px;
    }
}

