.parameters{
    display: -webkit-inline-box;
    margin-top: 20px;
}
.param-2{
    margin-left: 7%;
    
}
p.value{
    color: #000;
    font-weight: bold;
}
.parameters__price{
    font-size: 60px;
    font-weight: 300;
    color: #000;
}

.parameters__btn{
    margin-top: 11%;
}



