.phone-number{
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon{
    margin-right: rem(5px);
}

.phone-number__text{
    white-space: nowrap;
}

.phone-icon{
    fill: #fff;
    width: 15px;
    height: 15px;
}



