.reviews-section{
    background: url("../img/decorations/raspb-1.png") right top 12% no-repeat;  
    position: relative;  
  
    
    &:before{
        content:url("../img/decorations/side-leaf2.png");
        position: absolute;
        top: 88%;
    }
}

.reviews-raspb{
    &:after{
        content:url("../img/decorations/raspb-2.png");
        position: absolute;
        bottom: -23%;
    }   
}

