.slider__decorations{
    position: relative;
    top: 0;
    left: 0;
}
.grape__bar {  
    position: absolute;
    top: -72px;
    left: 0;
    z-index: 5;
}
.slider__ellipse-blue { 
    position: absolute;
    top: 5px;
    left: 6px;
    z-index: 4;
}
.slider__ellipse-gray {  
    position: absolute;
    top: 75px;
    left: 7px;
    z-index: 3;
}

